<include file="Index/header" />
<body>
<div id="wrapper">

    <include file="Index/nav"/>
<div id="page-wrapper">

    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">

                    <li class="active">
                        <i class="fa fa-table"></i>推荐位管理
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div >
            <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <h3></h3>
                <div class="table-responsive">
                   
                    <table class="table table-bordered table-hover singcms-table">
                        <thead>
                        <tr>
                           
                            <th>id</th>
                            <th>标题</th>
                            <th>时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="rows" item="row">
                            <tr>

                                
                                <td>{$row.id}</td>
                                <td>{$row.name}</td>
                              
                                <td>{$row.create_time|date="y-m-h",###}</td>
                                <td>
                                    <span  attr-status="0"  attr-id="" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$row.status}</span>
                                </td>
                                <td>
                                    <span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="" 
                                    onclick="edit({$row.id})"></span>
                                    <a href="javascript:void(0)" id="singcms-delete"  attr-id=""  attr-message="删除" onclick="deleteMenu({$row.id}">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    
                    
                </div>
            </div>

        </div>
        <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<script>
    var SCOPE = {
        'edit_url' : '{:U("edit")}',
        'set_status_url' : '{:U("setStatus")}',
        'add_url' : '{:U("add")}',
        
    }
    </script>
<include file="Index/footer" />