
<include file="Index/header" />
<body>

<div id="wrapper">

    <include file="Index/nav"/>

    <div id="page-wrapper">

    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="#">菜单管理</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-table"></i>{$nav}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <form action="{:U('index')}" method="get">

                <div class="input-group">
                    <span class="input-group-addon">类型</span>
                    <select class="form-control" name="type">
                        <option value='' >请选择类型</option>

                        <option value="1" <if condition="$type eq 1"> selected="selected"</if>>后台菜单</option>
                        <option value="0" <if condition="$type eq 0"> selected="selected"</if> >前端导航</option>
             
                </div>

                <input type="hidden" name="c" value="menu"/>
                <input type="hidden" name="a" value="index"/>
                <span class="input-group-btn">
                  <button id="sub_data" type="submit" class="btn btn-primary" ><i class="glyphicon glyphicon-search"></i><button>
                </span>

            </form>
        </div>
        <div>
          <button  id="button-add" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加 </button>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3></h3>
                <div class="table-responsive">
                    <form id="singcms-listorder" type="">
                    <table class="table table-bordered table-hover singcms-table">
                        <thead>
                        <tr>
                            
                            <th width="14">排序</th>
                            <th>id</th>
                            <th>菜单名</th>
                            <th>模块名</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="rows" id="row">
                            <tr>
                            
                            <td ><input name="{$row.menu_id}" value="{$row.listorder}"  width="14"/></td>
                            <td>{$row.menu_id}</td>
                            <td>{$row.name}</td>
                            <td>{$row.m}</td>
                            <td>{$row.type|getTypes}</td>
                            <td>{$row.status|getStatus}</td>
                            
                       
                                <td><span class="glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="" onclick="edit({$row['menu_id']})"></span>    <a href="javascript:void(0)" attr-id="" id="singcms-delete"  attr-a="menu" attr-message="删除" onclick="deleteMenu({$row['menu_id']})"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></td>
                                
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                    <button  class="btn btn-defalut" id="order"  type="button">排序</button>
                    </form>

                  

                    
                </div>
               <ul id="biuuu_city_list"></ul>

                   <div id="biuuu_city"></div>

            </div>

        </div>
        <!-- /.row -->



    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Morris Charts JavaScript -->
<script>

    var SCOPE = {
        'jump_url' :"{:U('Index')}",
        'add_url' : "{:U('addMenu')}",
        'edit_url' : '{:U("updataMenu")}',
        'set_status_url' : '{:U("setStatus")}',
        'listorder_url' : '{:U("listorder")}',

    }


laypage({
    cont: 'biuuu_city',
    pages: {$listRows},
    curr:  function(){ //通过url获取当前页，也可以同上（pages）方式获取
        var page = location.search.match(/page=(\d+)/);
        return page ? page[1] : 1;
    }(), 
    jump: function(e, first){ //触发分页后的回调

        if(!first){ //一定要加此判断，否则初始时会无限刷新
            var currs=e.curr;

            location.href ="/project/index.php?m=Admin&c=Menu&a=index&page="+currs;}}
            
})
</script>
<include file="Index/footer" />





